* {
    margin:0px;
    padding:0px;
}

p, span, h1, h2, h3 {
font-family: 'Poppins', sans-serif;
}

.button_outline {
  border: solid 1px #5c3da4;
  background-color: transparent;
  outline: transparent;
  border-radius: 0.475rem;
  padding:0px 1rem;
  color:#5c3da4;
  font-family: 'Poppins', sans-serif;
}
.button_outline:hover , .button_outline:active{
    background-color: #5c3da4;
    color:white;
}

* {
  box-sizing: border-box;
}


.nav {
  height: 50px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.nav > .nav-header {
  display: block;
}
/* 
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
} */

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #5c3da4;
}

.nav > .nav-links > a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* text-decoration: underline; */
  color:#5c3da4;
  border-bottom: #5c3da4 2px solid;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav , .nav-links {
    color: #5c3da4;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #5c3da4;
    height:40px;    
  }
   .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
  } 
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #5c3da4;
    border-bottom: solid 2px #5c3da4;
    border-radius: 2%;
    height:50px;    
    /* border-bottom-right-radius: 2%; */

  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 23px;
    height: 7px;
    border-top: 2px solid #fff;
    top:10px;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #5c3da4;
    color : #fff;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
    color : #fff;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
  
}


/* Custom header css start here */
.sign_up_container {
  position: relative;
  width: 100%;
  max-width: 400px;
  top:-22%;
  left:0%;
}


.sign_up_container > .btn_sign_up {
  position: absolute;
  top: 15%;
  left: 64%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  color:#ff8800;
  border: solid 1px #ff8800;

}

 .btn_sign_up:hover , .btn_sign_up:active {
  background-color: #ff8800;
  color:white;
 }



 .fa {
   margin-right: 10px;
    
 }